<div id="chapter">

	<div id="intro">
		<p> This is about my journey, all the places i have been to...  </p>
	</div>

	<div id="title">
		<div class="well">
		<span id="country">Nepal</span><br><br>
		<%= link_to "Birgunj", birgunj_path %>
		<%= link_to "Kathmandu", kathmandu_path %>
		<%= link_to "Pokhara", pokhara_path %>
		</div>

		<div class="well">
		<span id="country">India</span><br><br>
			<%= link_to "Patna", patna_path %>
			<%= link_to "Bhubaneswar", bhubaneswar_path %>
			<%= link_to "Kolkata", kolkata_path %>
			<%= link_to "Bangalore", bangalore_path %>
			<%= link_to "Pune", pune_path %>
			<%= link_to "Kochi", kochi_path %>
			<%= link_to "Hyderabad", hyderabad_path %>
		</div>

		<div class="well text-center">
		“For my part, I travel not to go anywhere, but to there.”
		</div>

	</div>
</div>
