<!DOCTYPE html>
<html>
<head>
  <title>ItsMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
	<span>A Journey</span>
</div>

<div id="page">
	<div class="text-center", id="sidebar">
	 	<%= link_to "Home", root_url %><hr>
	 	<%= link_to "About", about_path  %><hr>
	 	<%= link_to "Contact", contact_path %><hr>
	</div>
	<div id="main_body">
		<%= yield %>
	</div>	
</div>



</body>
</html>
